<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <%- include ../partial/head %>
    <meta name="description" content="<%= post.content%>">
    <link rel="stylesheet" href="/css/post/post-detail.css">
    <script src="/js/post/post-detail.js"></script>
</head>

<body>
<%- include ../partial/header %>
<div class="banner-body">
    <span class="icon-star has-star" style="display: none;">
        <i class="glyphicon glyphicon-star" style="color: #00B26B;"></i>
        <span class="font" style="color: #00B26B;">已收藏</span>
    </span>
    <span class="icon-star not-star">
        <i class="glyphicon glyphicon-star-empty"></i>
        <span class="font">收藏</span>
    </span>
    <span class="icon-report">
        <i class="glyphicon glyphicon-bell"></i>
        <span class="font">举报</span>
    </span>
    <span class="icon-share">
        <i class="glyphicon glyphicon-share-alt"></i>
        <span class="font">分享</span>
    </span>
    <span class="group">
        首发于&nbsp;<a href="/group/<%= post.group._id%>"><%= post.group.groupname%></a>
    </span>
</div>
<div class="main-body container">
    <div class="row">
        <div class="col-sm-12">
            <div class="title"><%= post.title%></div>
        </div>
    </div>
    <div class="row layers">
        <div class="col-sm-12 layer">
            <div class="user" data-username="<%= post.author.username%>" data-userId="<%= post.author._id%>">
                <span class="left">
                    <span class="head-image">
                        <img src="<%= post.author.head_image%>" alt=""/>
                    </span>
                    <span class="info">
                        <div class="username"><%= post.author.username%></div>
                        <div class="date"><%= post.create_at_string%></div>
                    </span>
                </span>
                <span class="right">
                    <% if(user._id == post.author._id || user._id == post.group.admin_id){%>
                    <span class="glyphicon glyphicon-trash post-delete"></span>
                    <% }%>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="floor">1L</span>
                </span>
                <div style="clear: both;"></div>
                <% if(post.position.open == true){%>
                <div class="position">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span class="address"><%= post.position.address%></span>
                </div>
                <% }%>
            </div>

            <div class="content">
                <p>
                    <%= post.content%>
                </p>
                <% if(post.image_urls.length > 0){%>
                <% post.image_urls.forEach(function(image_url){%>
                <img src="<%= image_url%>?imageView2/0/w/800/h/600&watermark/2/text/QG5vZGVmb3J1bQ==/font/5b6u6L2v6ZuF6buR/fontsize/500/fill/I0VGRUZFRg==/dissolve/100/gravity/SouthEast/dx/10/dy/10" alt=""/>
                <% })%>
                <% }%>
            </div>
        </div>
    </div>
    <div class="row layers comments">
        <% comments.forEach(function(comment){%>
        <div class="col-sm-12 layer" data-commentId="<%= comment._id%>">
            <div class="user" data-username="<%= comment.from_user.username%>" data-userId="<%= comment.from_user._id%>">
                <span class="left">
                    <span class="head-image">
                        <img src="<%= comment.from_user.head_image%>" alt=""/>
                    </span>
                    <span class="info">
                        <div class="username"><%= comment.from_user.username%></div>
                        <div class="date"><%= comment.create_at_string%></div>
                    </span>
                </span>
                <span class="right">
                    <% if(user._id == comment.from_user._id || user._id == post.group.admin_id){%>
                    <span class="glyphicon glyphicon-trash comment-delete"></span>
                    <% }%>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="floor"><%= comment.floor%>L</span>
                </span>
                <div style="clear: both;"></div>
            </div>
            <div class="content">
                <p>
                    <%= comment.content%>
                </p>
            </div>
        </div>
        <% })%>
    </div>
</div>

<div id="reply">
    <div class="to-user">To:<span></span></div>
    <textarea class="form-control reply-content" rows="3"></textarea>
    <div class="right">
        <div class="btn-reply">回复</div>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="private">
    <div class="to-user">To:<span></span></div>
    <textarea class="form-control private-content" rows="3"></textarea>
    <div class="right">
        <div class="btn-private">发送</div>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="share" style="display: none;">
    <div class="jiathis_style_32x32">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
    </div>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

<!--js需要的值-->
<input id="postId" type="hidden" value="<%= post._id%>"/>
<input id="groupId" type="hidden" value="<%= post.group._id%>"/>
<input id="userId" type="hidden" value="<%= user._id%>"/>
<input id="star" type="hidden" value="<%= star%>"/>
<input id="adminId" type="hidden" value="<%= post.group.admin_id%>"/>

<!--模板引擎部分-->
<script id="layer_template" type="text/html">
    {{each comments as comment}}
    <div class="col-sm-12 layer" data-commentId="{{comment._id}}">
        <div class="user" data-username="{{comment.from_user.username}}" data-userId="{{comment.from_user._id}}">
                <span class="left">
                    <span class="head-image">
                        <img src="{{comment.from_user.head_image}}" alt=""/>
                    </span>
                    <span class="info">
                        <div class="username">{{comment.from_user.username}}</div>
                        <div class="date">{{comment.create_at_string}}</div>
                    </span>
                </span>
                <span class="right">
                    {{if ('<%= user._id%>' == comment.from_user._id || '<%= user._id%>' == '<%= post.group.admin_id%>')}}
                    <span class="glyphicon glyphicon-trash comment-delete"></span>
                    {{/if}}
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="floor">{{comment.floor}}L</span>
                </span>
            <div style="clear: both;"></div>
        </div>
        <div class="content">
            <p>
                {{comment.content}}
            </p>
        </div>
    </div>
    {{/each}}
</script>

<%- include ../partial/footer %>
</body>
</html>
