<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include ./layout/link %>
    <link rel="stylesheet" href="/index/index.css">
    <script src="/index/index.js"></script>
</head>

<body>
<%- include ./layout/header %>
    helloworld!
    <a class="btn">按钮</a>
<%- include ./layout/footer %>
</body>
</html>
