@charset "utf-8";
@import "../base/base";
@import "../partial/header";
@import "../partial/footer";

.banner-body{
  background: url(../../img/index/noise.jpg);
  height: 2.5rem;
  border-bottom: 3px solid #eee;
  h3{
    margin: 0 0 0 1rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
  }
}

.content{
  width: 100%;
  min-height: 650px;
  padding-top: 10px;
  padding-bottom: 30px;
  background: url(../../img/index/noise.jpg) #f5f7fa;
  .blocks{
    //width: 98%;
    //margin: 0 auto;
    .block{
      text-align: center;
      .pic{
        position: relative;
        display: inline-block;
        border-radius: 5px;
        overflow: hidden;
        img{
          //min-width: 340px;
          //min-height: 240px;
        }
        .title{
          position: absolute;
          text-align: left;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding: 20px;
          color: white;
          small{
            display: block;
            margin-top: 20px;
          }
        }
      }
    }
  }
}




