<div class="footer darkblue-back white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p class="copyright">Copyright © 2016 - 郝锦</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-back darkblue-back"></div>