<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" >
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/Swiper/dist/css/swiper.min.css" >
<script src="/Swiper/dist/js/swiper.jquery.min.js"></script>

<link rel="stylesheet" href="/layer/skin/layer.css">
<script src="/layer/layer.js"></script>

<link rel="stylesheet" href="/bootstrap-fileinput/css/fileinput.min.css"/>
<script src="/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>

<script src="/art-template/dist/template.js"></script>

<script src="/socket.io-client/socket.io.js"></script>

<script src="/js/util/imagecropper.js"></script>

<script src="/js/partial/header.js"></script>

<title><%= title %></title>